@import url("common.css");

.coming-soon{
    margin: 100px 0px 100px 0px;
}

#description-title{
  padding: 30px;
  font-weight: bold;
  color: #fcff7a;
  font-family: 'Open Sans Condensed', cursive;
}

#description{
  padding: 10px 200px 0 200px;
  font-weight: bold;
  font-size: 20px;
  color: #1d649a;
  font-family: 'Josephin Sans', cursive;
}

.subscribe-result{
  margin: 200px 0px 300px 0px;
}
.failed-res-action{
  padding: 50px 0px;
}

.logo{
  border-radius: 10px;
  width: 102px;
  height: 82px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto 220px auto;
  color: #fcff7a;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control {
  color: #1d649a;
}

.form-signin .form-control:focus {
  color:#1d649a;
  z-index: 2;
  border-color: #fcff7a;
  box-shadow: 0 0 0 0.2rem  #fcff7a;
}
.top{
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.middle{
  border-radius: 0;
  margin-bottom: -1px;
}

.bottom{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: -1px;
}

#submit-button{
  color: #fcff7a;
  background-color:#1d649a;
}

#submit-button:hover{
  background-color:   #3c94d6;
  border-color:  #3c94d6;
  color: #fcff7a;
}



