@import url("common.css");

.classes-offered{
  color: #1d649a;
  font-size: 120%;
  margin: 3% 2%;
}

.individual-courses{
  margin: 20px 0px;
  text-align: center;
  background-color: #fff;
  height: 230px;
  width: 230px;
  border-radius: 50%;
  font-family: 'Josephin Sans', sans-serif;
  font-size: 1.5rem;
}

.course-group{
  margin-top: 20px;
  font-weight: 600;
}

.course-contents{
  margin-top: 20px;
}

.we_are_open{
  color: #fff;
  font-size: 30px;
  line-height: 40px;
  font-family: 'Sansita Swashed', cursive;
  
}

.join_us_now_gif{
  height: 100px;
  width: 200px;
}

.students_studying{
  width: 200px;
  height: 200px;
}

#features{
  padding: 2% 2% 2% 4%;
  background-color: #fff;
  position: relative;
}

#features2{
  text-align: center;
  display: none;
  padding: 5% 2%;
  background-color: #fff;
}

.why-us{
  text-align: center;
  font-size: 50px;
  line-height: 40px;
  padding-bottom: 5px;
  margin: 10px 0px;
  font-family: 'Sansita Swashed', cursive;  
  color: #1d649a;
  font-weight: bold;
}

.why-us-pic{
  height: 64px;
  width: 80px;
}

.attention{
  padding: 0px 10px;
  position: absolute;
  left: 47.5%;
}

.feature-mob{
  font-size: 2rem;
  font-weight: bold;
}
.attention-mob{
  height: 30px;
}

.feature-img{
  width: 500px;
  height: 80px;
  position: relative;
}

.to-left {
  right: -120%;
}

.to-right {
  left: -40%;
}

.feature-carousel .carousel-control-prev-icon{
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%231d649a' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");

}

.feature-carousel .carousel-control-next-icon{
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%231d649a' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.carousel-indicators li{
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #1d649a;
}

#carouselTestimonials > ol > li{
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #fff;
}

.carousel-indicators{
  bottom: -30px;
}

#pricing{
  padding: 5% 0%;
  background-color: #fff;
}

.pricing-cards{
  margin: 0% 5%;
  padding: 0% 5%;
}

.card{
  margin: 3% 5%;
  background-color: #41c3be;
}

.card-title{
  color: #fff;
  text-align: center;
  font-family: 'Josephin Sans', sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.card p{
  font-family: 'Josephin Sans', sans-serif;
  margin: 0 0;
  line-height: 2rem;
  font-size: 1.2rem;
}

.card .btn{
  margin-top: 15px;
  font-size: 1.2rem;
  font-weight: 600;
  background-color:  #1d649a;
  border-color:  #1d649a;
}

.card .btn:hover{
  background-color:  #3c94d6;
  border-color:  #3c94d6;
}

/* testimonials */

#testimonial{
  text-align: center;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  padding: 7% 7%;
}

.testimonial-title{
  font-weight: 400;
  margin-bottom: 12px;
}

.testimonial-image{
  border-radius: 100%;
  margin-bottom: 20px;
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1360px) {

  .why-us-pic{
    height: 64px;
    width: 80px;
  }

  .attention{
    left: 47.5%;
  }

  .feature-img{
    width: 400px;
    height: 64px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {

  #features{
    display: none;
  }
  
  #features2{
     display: block; 
  }

  #features2 .card-body{
    color: #fff;
    text-align: center;
    font-family: 'Josephin Sans', sans-serif;
  }

  .why-us-pic{
    padding-top: 10px;
    height: 90px;
    width: 110px;
  }

}

/* Any responsive related code should go below */
/*
@media (max-width: 768px) { }
@media (max-width: 667px) { } 
@media (max-width: 544px) { }
@media(max-width: 440px)  { }
@media(max-width: 360px)  { }d
*/