@import url("common.css");

#terms-conditions{
    margin: 5vh 0 10vh 0;
    font-size: 1.2rem;
    color: #fcff7a;
    font-family: 'Montserrat', sans-serif;
}

.terms-list{
  padding: 10px;
  margin-left: 7.5vh;
  font-family: 'Montserrat', sans-serif;
  color:#fff;
}
