@import url("common.css");

#terms-conditions{
    margin: 240px 0px 240px 0px;
    font-size: 1.2rem;
    color: #fcff7a;
}



#submit-button{
  color: #fcff7a;
  background-color:#1d649a;
}

#submit-button:hover{
  background-color:   #3c94d6;
  border-color:  #3c94d6;
  color: #fcff7a;
}
