@import url("common.css");

#terms-conditions{
    margin-top: 10px;
    font-size: 1.2rem;
    color: #fcff7a;
}

.terms-list{
  font-weight: bold;
  color:#1d649a;
  padding: 10px 10px 10px 10px;
  margin: 30px 4px 30px 12px;
}
