/* HTML Template related CSS */

.header,.heading{
  display: inline-block;
}

body{
  background-color: #41c3be;
  font-family: 'Josephin Sans', sans-serif;
  color: #fff
}

#top-section, #footer{
  background-color: #1d649a;
}

.header{
  margin-top: 20px;
}

.heading{
  color:#fff;
  font-size: 3rem;
  font-family: 'Open Sans Condensed', sans-serif;
}

.subheading{
  color: #fcff7a;
  font-family: 'Sansita Swashed', cursive;
  font-size: 1.5rem;
}

#toTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  outline: none;
  background-color:  rgb(38, 111, 167);
  color: #fcff7a;
  padding: 8px;
  border-radius: 8px;
}

#toTopBtn:hover {
  background-color: #fcff7a;
  color: #1d649a;
}

.nav-item{
  text-align: right;
}


footer {
  height: 180px;
  bottom: 0;
  width: 100%;
  color: #fcff7a;
}

.social-icons{
  width: 32px;
  height: 32px;
}
.pub-prof{
  margin: 0px 10px 0px;
}

.copyright{
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 0;
}

.credits{
  margin-bottom: 0;
  position: relative;
  bottom: 10px;
  font-size: 90%;
}

#contactUs{
  padding-top: 20px;
}

/* Add form related CSS */
.form-subsection{
  color: #1d649a;
  font-size: 1.1rem;
}

.form-subsection  > * h3{
  font-weight: bold;
}

.form-subsection > * label{
  font-weight: bold;
}

.btn{
  width: 130px;
  margin-top: 15px;
  font-size: 1.2rem;
  font-weight: 600;
  background-color:  #1d649a;
  border-color:  #1d649a;
}

.btn:hover{
  background-color:  #3c94d6;
  border-color:  #3c94d6;
}
  

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1360px) {

}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {

}

@media (max-width: 768px) {     
    
}

  /* Small devices (landscape phones, 544px and up) */
@media (max-width: 667px) {
  .heading{
    font-size: 2rem
  }

  .subheading{
    font-size: 1.5rem;
  }
}

@media (max-width: 544px) {  
  #footer{
    font-size: 14px;
  }

  .social-icons{
    width: 24px;
    height: 24px;
  }

  .pub-prof{
    margin: 5px 30px 0px;
  }

  .pk-logo{
    height: 70px;
    width: 100px;
  }

  .heading{
    font-size: 2rem
  }

  .subheading{
    font-size: 1.4rem;
  }

  #contactUs{
    padding-top: 10px;
  }
}

/* Medium devices (tablets, 768px and up) */

@media(max-width: 440px){

  .heading{
    font-size: 1.5rem
  }

  .subheading{
    font-size: 1rem;
}
#contactUs{
  padding-top: 5px;
}
}

@media(max-width: 360px){

.heading{
  font-size: 1.2rem
}

.subheading{
  font-size: 0.8rem;
}

.pk-logo{
  height: 60px;
  width: 85px;
}

}