/*********** Mobile view ************/

    /************* HEADER START ************/

    html,body {
      height: 160%;
    }

    .header{
      height: 100px;
    }
  
    .cell{
      background-color: #1d649a;
      right: auto;
      top: 130px;
    
    }
    
    .contact-num{
      top: 115px;
      left: 12%;
      width: 400px;
    }
  
    .logo{
  
        height: 64px;
        width: 88px;
    }
  
    .title{
        font-size: 75%;
        bottom: 20px;
    }
  
    .cell{
      position: absolute;
      right: auto;
      top: 80px;
    
    }
    
    .cellImg{
      width: 20px;
      height: 20px;
      display: inline-block;
    }

    .booksImg{
      left: 210px;
      top: 65px;
      height: 38px;
      width: 38px;
      margin: 0;
    
    }
    
    .contact-num{
      position: absolute;
      right: 90px;
      top: 60px;
    
    }
    /************* HEADER END ************/
    .container{
        margin: 15px auto; 
    }
  
    .col{
        width: 60%;
    }
  
    #footer-content {
      padding-left: 0px;
    }
     
    .zoom:hover {
      transform: scale(1);
    }
  
  .pub-prof {
      width: 20x;
      height: 20px;
    }
  
    .contact-address{
      font-size: 80%;
      width: 220px;
    }
  
    .copyright{
      display: none;
    }
  
    .credits{
      display: none;
    }

    .welcome-graphic{
      left: 140px;
      top: 165vh;
   }

   .we_are_open{
      width: 200px;
      font-size: 30px;
      line-height: 30px;
   }
  /*********** End Mobile view ************/