body{
    background-color: #41C3BE;
    margin: 0px 0px 0px 0px;
    font-family: 'Open Sans', sans-serif;
}

.logo{

    height: 128px;
    width: 176px;
}

.heading{
    background-color: #1d649a;
    padding-left: 20px;
    padding-top: 10px;
    position: relative;
}

.title{
    display: inline-block;
    position: absolute;
    left: 250px;
    top: 40px;
}

.heading1{
    margin: 0px;
    display: inline-block;
    text-align: center;
    font-size: 2em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.subtitle{
    font-style: italic;
    color: #fcff7a;
    margin: 0px;
}

.bottom-container{
    background-color: #1d649a;
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: 50px;
    position: absolute;
    top: 100%;
}

.facebook-link{
    position: absolute;
    left: 50px;
    bottom: 5px;
}

.google-map-link{
    position: absolute;
    left: 90px;
    bottom: 5px;
}

.gmail{
    position: absolute;
    left: 140px;
    bottom: 5px;
}

.pub-prof {
    width: 32x;
    height: 32px;
    transform: scale(1.2);
  }
.zoom:hover {
    transform: scale(1.5);
  }

.copyright{
    margin: 0px 0px 0px 0px;
    display: inline-block;
    position: absolute;
    bottom:5px;
    right: 5px;
    color: #fcff7a;
}

@media (max-width: 665px){
    .logo{

        height: 64px;
        width: 88px;
    }

    .title{
        display: inline-block;
        position: absolute;
        left: 100px;
        top: 30px;
        padding-left: 20px;
    }
    
    .heading1{
        margin: 0px;
        display: inline-block;
        text-align: center;
        font-size: 1em;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }
    .subtitle{
        font-style: italic;
        color: #fcff7a;
        margin: 0px;
        font-size: 0.75em;
    }

    .facebook-link{
        position: absolute;
        left: 25px;
        bottom: 10px;
    }
    
    .google-map-link{
        position: absolute;
        left: 50px;
        bottom: 10px;
    }
    
    .gmail{
        position: absolute;
        left: 80px;
        bottom: 10px;
    }

    .pub-prof {
        width: 20px;
        height: 20px;
        transform: scale(1.2);
      }

      .copyright{
        margin: 0px 0px 0px 0px;
        display: inline-block;
        position: absolute;
        bottom:5px;
        right: 5px;
        color: #fcff7a;
        font-size: x-small;
    }
}
