/* tablet view */
html,body {
  height: 190%;
}
  /************* HEADER START ************/
  .header{
    height: 160px;
  }

  .cell{
    background-color: #1d649a;
    right: auto;
    top: 130px;
  }
  
  .contact-num{
    top: 115px;
  }
 
 .logo{
     height: 96px;
     width: 132px;
 }

 .booksImg{
  left: 300px;
  top: 80px;
  height: 88px;
  width: 88px;
  margin: 0;

}

  /************* HEADER END ************/
 .container{
     margin: 30px auto; 
 }


 #footer-content {
  padding-left: 0px;
}

.contact-address{
  font-size: 100%;
  width: 220px;
}

.copyright{
  font-size: 90%;
}
.credits{
  font-size: 70%;
}

.zoom:hover {
  transform: scale(1);
}

.welcome-graphic{
  right: 35vw;
  top: 160vh;
}

/********** End Tablet view ***********/