/* tablet view */

    .header{
      height: 189px;
    }
  
    .cell{
      background-color: #1d649a;
      right: auto;
      top: 160px;
    
    }
  
    .contact-num{
      left: 60px; 
      top: 150px;
    }
  
    .col{
      width: 33%;
      width: 250px;
      height: 250px;
      margin: 10px auto;
      border-radius: 100%;
      font-size: 150%;
    }
    .contact-address{
      font-size: 100%;
    }

    .high-school{
      position: static;
    }
    
    .college{
      position: static;

    }
    .professional-exam{
      position: static;
    }